*{
    padding: 0;
    margin: 0;
    border: 0;
}
*,*:before *:after {
    box-sizing: border-box;
}
:focus, :active {outline: none;}
a:focus, a:active {outline: none;}

nav,footer,header,aside {display: block;}

html,body{
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    
}
input,button,textarea {
    font-family: inherit;
}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding: 0; border: 0;}
a, a:visited {text-decoration: none;}
a:hover {text-decoration: none;}
ul li {list-style: none;}
img {vertical-align: top;}

h1,h2,h3,h4,h5,h6 {font-size: inherit; font-weight: 400;}

a {
    color: inherit;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

img {
    object-fit: cover;
}



/* start */

body {
   background-color: #262C27; 
}

.container{
    max-width: 1220px;
    padding: 0 10px;
    margin: 0 auto;
}

.header {
 
    
}
.header__inner {
    display: flex;
    align-items: center;
    background-color: #869689;
    gap: 600px;
    padding: 30px;
}

.header__logo {
    max-width: 100px;
    padding: 20px;
}

.header__text {
    padding-left: 20px;
    padding-right: 20px;
    max-width: 200px;
    font-family: 'Comfortaa', cursive;
    font-weight: 700;
    font-size: 25;
    
}

.gradient {
    height: 40px;
    border: none;
   background: rgb(134,150,137);
   background: linear-gradient(180deg, rgba(134,150,137,1) 0%, rgba(63,137,152,1) 88%);
}


/* section I */

.design__inner {
    background-color: #3f8998;
    height: 800px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.design__info{
    padding: 20px;
}

.design__caption {
   font-size: 30px;
   font-weight: 700;
   line-height: 17px;
   color: #131313;
   max-width: 420px;
   font-family: 'Comfortaa', cursive;
   margin-bottom: 45px;
}
.design__text {
   font-size: 14px;
   font-weight: 400;
   line-height: 17px;
   color: #131313;
   max-width: 420px;
   font-family: 'Comfortaa', cursive;
   text-indent: 10px;

}

.design__text1{
    margin-bottom: 15px;
}

.design__column-slider {
    flex-basis: 630px;
    max-width: 630px;
    padding: 20px;
}

.slider__img {
    max-width: 700px;
}

.slick-dots{
    position: absolute;
    bottom: -40px;
    right: 39%;
}

.slick-dots li {
    float: left;
    padding: 20px;
}

.slick-dots button {
    font-size: 0;
    padding: 0;
    border: none;
    background-color: #869689;
    width: 40px;
    height: 6px;
    border-radius: 7px;
    cursor: pointer;
    transition: 0.5s;
}

.slick-active button, .slick-dots button:hover {
    background-color: #BF3030;
}

.gradient2 {
    height: 60px;
    border: none;
    background: rgb(63,73,82);
    background: linear-gradient(0deg, rgba(63,73,82,1) 0%, rgba(63,137,152,1) 100%);
}

/* section II */

.flow__info {
    padding: 20px;
}
.flow__text {
      font-size: 14px;
      font-weight: 700;
      line-height: 17px;
      color: #131313;
      max-width: 420px;
      font-family: 'Comfortaa', cursive;
      text-indent: 10px;
}

.flow__inner {
    background-color:  #3f4952;
    height: 800px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flow__caption {
    font-size: 30px;
    font-weight: 700;
    line-height: 17px;
    color: #131313;
    max-width: 420px;
    font-family: 'Comfortaa', cursive;
    margin-bottom: 45px;
}
.flow__text1 {
    margin-bottom: 20px;
}

.flow__column-slider {
    flex-basis: 630px;
    max-width: 630px;
    padding: 20px;
}

.gradient3 {
    height: 60px;
    border: none;
    background: rgb(63,73,82);
    background: linear-gradient(180deg, rgba(63,73,82,1) 0%, rgba(55,133,101,1) 63%);
}
/* section III */

.welding__inner {
    background-color: #378565;
    height: 800px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.welding__info {
    padding: 20px;
}

.welding__caption {
    font-size: 30px;
    font-weight: 700;
    line-height: 17px;
    color: #131313;
    max-width: 420px;
    font-family: 'Comfortaa', cursive;
    margin-bottom: 45px;      
}

.welding__text {
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    color: #131313;
    max-width: 420px;
    font-family: 'Comfortaa', cursive;
    text-indent: 10px;
}

.welding__column-slider {
    flex-basis: 630px;
    max-width: 630px;
    padding: 20px;
}

.welding__slider .slick-dots {
    right: 30%;
}
.gradient4 {
    height: 60px;
    border: none;
    background: rgb(55,133,101);
    background: linear-gradient(180deg, rgba(55,133,101,1) 0%, rgba(0,139,139,1) 36%);   
}

/* section4 */

.board__inner {
    background-color: #008B8B;
    height: 800px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.board__info {
    padding: 20px;
}

.board__caption {
    font-size: 30px;
    font-weight: 700;
    line-height: 17px;
    color: #131313;
    max-width: 420px;
    font-family: 'Comfortaa', cursive;
    margin-bottom: 45px; 
}
.board__text {
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    color: #131313;
    max-width: 420px;
    font-family: 'Comfortaa', cursive;
    text-indent: 10px;
}

.board__column-slider {
    flex-basis: 630px;
    max-width: 630px;
    padding: 20px;
}

.board__slider .slick-dots {
    right: 28%;
}

.gradient5 {
   height: 60px;
   border: none; 
   background: rgb(55,133,101);
   background: linear-gradient(180deg, rgba(55,133,101,1) 0%, rgba(102,107,65,1) 100%);
}

/* section IV */

.polishing__inner {
    background-color: #666b41;
    height: 800px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.polishing__info {
    padding: 20px;
}

.polishing__caption {
    font-size: 30px;
    font-weight: 700;
    line-height: 17px;
    color: #131313;
    max-width: 420px;
    font-family: 'Comfortaa', cursive;
    margin-bottom: 45px; 
}

.polishing__text {
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    color: #131313;
    max-width: 420px;
    font-family: 'Comfortaa', cursive;
    text-indent: 10px;
}

.polishing__column-slider {
    flex-basis: 630px;
    max-width: 630px;
    padding: 20px;
}

.polishing-slider .slick-dots {
    right: 30%;
}

.gradient6 {
    height: 60px;
    border: none; 
    background: rgb(253,93,91);
    background: linear-gradient(0deg, rgba(253,93,91,1) 0%, rgba(102,107,65,1) 76%);
}

/* footer */

.footer__inner {
    background-color: #FD5D5B;
    height: 200px;
    padding: 20px;
    text-align: left;
    text-align: justify;
}

.footer__text {
    margin-bottom: 30px;
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    color: #F9F7F2;
    font-family: 'Comfortaa', cursive;
    text-indent: 10px;
}

.footer__text2 {
    
    margin-bottom: 30px;
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    color: #F9F7F2;
    font-family: 'Comfortaa', cursive;
    text-indent: 10px;
}